<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <link rel="stylesheet" href="/app.css">

  <style>
    body {
      padding: 20px;
    }

    table {
      border-collapse: collapse;
    }

    td, th {
      padding: 10px;
      text-align: left;
      border: 1px solid gray;
    }
  </style>
</head>
<body>
<div class="container">
  <%= yield %>
  <script src="/app.js"></script>
</div>
</body>
</html>